.hero {
    background: url('banner.jpg') no-repeat center/cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  
    height: 100vh;
  
    @media (min-width: 1024px) {
      height: 60vh; 
    }
  }
  