#sidebar {
  position: fixed;
  width: 256px;
  background-color: #2d3748;
  color: white;
  
  &.hidden-mobile {
    display: none;
  }
  @media (min-width: 768px) {
    &.hidden-mobile {
      display: block;
      position: relative;
    }
  }

  .p-6 {
    border-bottom: 1px solid #4a5568;
  }

  h1 {
    font-size: 24px;
    color: #63b3ed;
  }

  nav {
    margin-top: 24px;

    ul {
      list-style: none;

      li {
        position: relative;

        a,
        button {
          display: flex;
          align-items: center;
          padding: 12px 24px;
          color: #d1d5db;
          background: none;

          &:hover {
            background-color: #374151;
            color: white;
          }

          &.active-link {
            background-color: #3182ce;
            color: white;
          }
        }

        .sidebar__nav-item__dropdown-menu {
          background-color: #4b5563;
          display: none;

          &--show {
            display: block;
          }

          li {
            a {
              display: block;
              color: #d1d5db;

              &:hover {
                background-color: #4b5560;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
