/* 5 */

#registration-form > input {
    border: 2px solid #4CAF50;
    background-color: #f0f8ff;      
    padding: 8px 10px;            
    margin-bottom: 10px;            
    display: block;               
  }

