.outer {
    font-size: 20px;
    padding: 1em;
    background: lightblue;
  }
  
  .inner {
    padding: 1em;
    background: lightgreen;
  }
  
  .innermost {
    padding: 1em;
    background: lightcoral;
  }
  